<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button onclick="vm.openForm(parseInt(this.a))">Open Form</button>
        <h1>{{'Nilai a : ' + result}}</h1>
        <h1>{{'Rata-rata nilai a : ' + rata}}</h1>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                b:0,
                rata: 0,
                jumlah:0,
                result:0,
            },
            methods: {
                openForm: function(number) {

                  for (var i = 0; i <= 10; i++) {
                      if(this.jumlah <= 10) {
                          this.a = prompt("Masukkan nilai a");

                      } else {
                     var x = i ;
                          i = 10;
                      }
                      
                      this.jumlah = parseInt(this.a) + parseInt(this.jumlah) 
                      this.result = this.jumlah - parseInt(this.a)
                  }

                     //   this.test = parseInt(this.a) + 1;
                    // this.a = prompt("Masukkan nilai a")
                    // this.a = prompt("Masukkan nilai a")
                    // this.a = prompt("Masukkan nilai a")

                    // // if(this.a < 10 ) {
                    // // this.a = prompt("Masukkan nilai a")
                    // // }   
                    
                    // this.rata = a + 1
                    this.rata = this.result / x;
                }
            }
        })
    </script>
</body>

</html>