<!DOCTYPE html>
<html>
    <head>
        <title>Tugas 13</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], input[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
</style>
<body>

<div id="app">
  <!-- <form @submit.prevent="submitForm($event)">
      <p v-if="errors.length">
          <b>Please fill the blanks correctly : </b>
          <ul>
              <li v-for="error in errors">{{ error }}</li>
          </ul>
      </p>
    <label>Name {{ name }}</label>
    <input type="text" name="name" :disabled="buttonStatus == 'upload'" placeholder="Your name.." ref="name" v-model="name">

    <label>Address</label>
    <input type="text" name="address"  :disabled="buttonStatus == 'upload'"  placeholder="Your address.." ref="address" v-model="address">

    <label>Phone</label>
    <input type="text" name="no_hp"  :disabled="buttonStatus == 'upload'"  placeholder="Your phone number ..." ref="no_hp" v-model="no_hp">
      <div v-if="buttonStatus === 'submit'">
  <input type="submit" value="Submit">
      </div>
      <div v-else-if="buttonStatus === 'edit'">
  <input type="button" value="Edit" @click="editMember(idEditMember)">
  <input type="button" value="Cancel" @click="clearForm()" style="margin-top: 10px;">
      </div>
      <div v-else-if="buttonStatus === 'upload'">
          <input type="file" name="photo" ref="photo">
  <input type="button" value="Upload" @click="submitPhoto(idUploadMember)" style="margin-top: 10px;">
  <input type="button" value="Cancel" @click="clearForm()" style="margin-top: 10px;">
      </div>
  </form> -->

  <form-component 
    v-model="name" 
    :buttonStatus="buttonStatus"
    :idEditMember="idEditMember" 
    :errrors="errors.length"
    v-on:submitForm="submitForm($event)"
    v-on:clearForm="clearForm($event)" 
    v-on:editMember="editMember($event)">
    
  
 </form-component>
 {{ name }}
 {{ buttonStatus }}


  <br><br>
  <div class="container">           
    <table class="table">
         <tbody>
        <tr v-for="data of dataMember">
          <td>{{ data.name }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.no_hp }}</td>
          <td>   <img width=100 :src="data.photo_profile ? photoDomain + data.photo_profile : 'https://dummyimage.com/16:9x1080'" alt=""></td>
          <td>         
              <button @click="edit(data)">Edit</button>
            <button @click="remove(data.id)">Hapus</button>
            <button @click="uploadFoto(data)">Upload Foto</button>
        </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module">

    import { FormComponent } from './FormComponent.js'
    
      var vm = new Vue({
            el: '#app',
            components: {
                'form-component' : FormComponent
            },
            data: {
                name : '',
                address : '',
                no_hp: '',
                errors: [],
                dataMember: [],
                photoDomain : 'http://demo-api-vue.sanbercloud.com/',
                buttonStatus : 'submit',
                idEditMember: null,
                idUploadMember: null,
               },

            methods : {
                
            validationForm : function() {
                    this.errors = []

                    if(this.name.name.length < 2) {
                        this.errors.push('Masukkan nama anda');
                        this.$refs.nama.focus();
                    }
                    if(this.name.address.length < 2) {
                        this.errors.push('Masukkan alamat anda');
                        this.$refs.address.focus();
                    }
                    if(this.name.no_hp.length < 2) {
                        this.errors.push('Masukkan nomor telepon anda');
                        this.$refs.no_hp.focus();
                    }


                },

                clearForm : function() {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit',
                    this.idEditMember = null,
                    this.idUploadMember= null
                },

                submitForm : function(){
                    this.validationForm()

                    
                    if(this.errors.length === 0) {

   
                        console.log('masuk')
                        let formData = new FormData()
                        
                        formData.append('name', this.name.name)
                        formData.append('address', this.name.address)
                        formData.append('no_hp', this.name.no_hp)
                 
                        const config = {
                            method : "post",
                            url : "http://demo-api-vue.sanbercloud.com/api/member",
                            data : formData

                        }

                        axios(config)
                        .then( (response) => {
                            console.log(response)
                            this.clearForm()
                            this.getData()
                            alert(response.data.message)
                        })
                        .catch ( (error) => {

                        } )

                    }
                    
                },

                getData : function(){

                    const config = {
                        method : "get",
                        url : "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                    .then ( (response) => {
                        this.dataMember = response.data.members
                        console.log(response.data)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                },

                edit : function(data) {
                    this.name = data.name
                    this.address = data.address
                    this.no_hp = data.no_hp
                    this.buttonStatus = 'edit'
                    this.idEditMember = data.id
                },

                editMember : function(id) {
                    this.validationForm()
                    console.log('masuk')
                    if(this.errors.length === 0 ) {
                        let formData = new FormData()

                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        let config = {
                            method : "post",
                            url :  `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: { _method : 'PUT'},
                            data : formData

                        }

                        axios(config) 
                        .then( (response) => {
                            this.clearForm()
                            this.getData()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                    }
                },

                remove : function(id){
                    const config = {
                        method : "post",
                            url :  `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: { _method : 'DELETE'},
                    }

                    axios(config)
                    .then( (response) => {
                        this.getData();
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                },

                uploadFoto : function(data){
                    this.name = data.name
                    this.address = data.address
                    this.no_hp = data.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = data.id
                },

                submitPhoto : function(id) {
                    let file = this.$refs.photo.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    let config = {
                        method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                            data: formData
                    }

                    axios(config)
                    .then( (response) => {
                        this.clearForm()
                        this.getData()
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                }

               },

               created() {
                   this.getData()
               }

            })
</script>
</body>
</html>
