* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(54, 53, 53);
}

.sidebar {
    position: absolute;
    width: 180px;
    height: 400px;
    top: 100px;
    margin-left: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px white;
    background-color: rgb(97, 96, 96);
}

.sidebar:hover {
    box-shadow: 0px 0px 5px 2px rgb(236, 236, 160);
}

.circle-image {
    position: relative;
    width: 100px;
    height: 100px;
    top: 10px;
    left: 40px;
    border-radius: 50%;
    background-color: white;
}

.circle-image:hover {
    box-shadow: 0px 0px 5px 2px white;
}
.circle-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
}

span {
    position: absolute;
    margin: 5px 0px 0px 0px ;
    height: 2px;
    width: 180px;
    background-color: white;
}

.nama {
    margin-top: 20px;
}

.nama h2{
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.contact {
    margin: 15px 0px 0px 0px;
    align-items: center;
    text-align: center;
    color: #e6e6e6;
}

.contact span {
    margin: 5px 0px 0px -90px;
}

.contact p {
    font-size: 13px;
}

.skill-list {
    margin: 15px 0px 0px 0px ;
    text-align: center;
    color: white;
}

li {
    list-style-type: none;
}

.skill-list span {
    
    margin: 5px 0px 0px -90px;
}

.main {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 100px;
    margin-left: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px white;
    background-color: rgb(97, 96, 96);
}

.main:hover {
    box-shadow: 0px 0px 5px 2px rgb(236, 236, 160);
}

.about {
    margin: 20px;
    color: white;
    margin-bottom: 20px;
}

.about p {
    margin-top: 10px;
    font-size: 14px;
}
.education {
    margin: 20px;
    color: white;
    margin-bottom: 20px;
}

.education p {
    margin-top: 10px;
    font-size: 14px;
}

.education .p2 {
    margin-top: 0px;
}

.experience {
    
    margin: 20px;
    color: white;
    margin-bottom: 20px;
}

.experience p {
    margin-top: 10px;
    font-size: 14px;
}

.experience .p2 {
    margin-top: 0px;
}

@media screen and (max-width: 1100px) {
    .sidebar {
        left: -200px;
    }

    .main {
        left: -200px;
    }
} 

@media screen and (max-width: 900px) {
    .sidebar {
        left: -280px;
    }

    .main {
        left: -280px;
    }
} 

@media screen and (max-width: 820px) {
    .sidebar {
        left: 0px;
    }

    .main {
        top: 550px;
        left: -400px;
    }
}
 @media screen and (max-width: 772px) {
    .sidebar {
        left: -100px;
    }

    .main {
        top: 550px;
        left: -500px;
    }
} 
@media screen and (max-width: 620px) {
    .sidebar {
        left: -100px;
    }

    .main {
        top: 550px;
        left: -350px;
        width: 300px;
        height: 600px;
    }
} 

@media screen and (max-width: 468px) {
    .sidebar {
        left: -150px;
    }

    .main {
        top: 550px;
        left: -400px;
        width: 300px;
        height: 600px;
    }
} 

@media screen and (max-width: 420px) {
    .sidebar {
        left: -200px;
    }

    .main {
        top: 550px;
        left: -450px;
        width: 300px;
        height: 600px;
    }
} 