<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz-2</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        li {
            margin: 20px;
        }
    </style>
</head>
<body>

  <div id="app">
    <input type="text" placeholder="" v-model:value="newName" />
    <button @click="addNewName" v-if="editClicked">Add</button>
    <button @click="editName(noNama)" v-else>Update</button>
    <ul>
        <li v-for="(items, index) in users">
            <b >{{ items.name }}</b>
            <button @click="edit(index)">Edit</button> ||
            <button @click="hapus(index)">Delete</button>
        </li>
    </ul>
  </div>

  <script>
      var editClicked = true;
      var noNama = 0;
    var app = new Vue({
      el: "#app",
      data: {
        newName: "",
        users: [
            {name: "Muhammaad Mubarok"},
            {name: "Ruby Purwanti"},
            {name: "Faqih Muhammad"},
        ]
      },
      methods: {
          addNewName: function(){
              this.users.push({'name': this.newName});
              this.newName = "";
          },
          edit: function(index) {
                this.newName = this.users[index].name;
                noNama = index;
                editClicked = false;
          },   
          hapus: function(index){
            confirm("Apakah anda yakin?");
              this.$delete(this.users, index)
              console.log(index)
          },  
          
          editName: function(noNama){
        
            this.$set(this.users, noNama, {
                name : this.newName,
             })       
          },
      }
    })
  </script>
</body>

</html>