<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Soal 1</title>


  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>


  <div id="app">
    <h2>Daftar buku:</h2>
    <input type="text" placeholder="Masukkan kata kunci" v-model:value="key" />
    <ul>
        <li v-for="item in listBuku">
            <b  >{{ item.buku }}</b>
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        key: "",
        rakbuku: [
            { buku: "Kalkulus Dasar"},
            { buku: "Fisika Dasar"},
            { buku: "Aljabar Linier Elementar"},
            { buku: "Aljabar Abstrak"},
            { buku: "Algoritma Pemrograman"},
        ]
      },
      computed: {
        listBuku() {
            return this.rakbuku.filter(item => {
                return item.buku.toLowerCase().includes(this.key)
            }
          )
        }
          }
    })
  </script>
</body>
