<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Soal 2</title>
        
    <!-- Menyisipkan Vuejs dari CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="app">

        <ul>
            <li v-for="(items, index) in isiKomentar">
                <button @click="clickTambah(index)" v-if="buttonClicked">+</button>
                <h2> {{ items.komentar }} || 0{{  items.tanggal  }} - 0{{ items.bulan }} - {{ items.tahun }} || Score : {{ items.score }}</h2>
                <button @click="clickKurang(index)">-</button>
            </li>
        </ul>
        <textarea name="komentar" v-on:keyup.enter="onEnter" v-model.trim="newKomentar"></textarea>
    </div>
    <script>
          var state = false;
          var statekurang = false;
         var vm = new Vue({
            el: '#app',
            data: {
                msg: '',
                newKomentar:'',
                buttonClicked: true,
                isiKomentar: [
                    {komentar:'Komentar 1', score: 0, tanggal: 07, bulan: 02,tahun: 2020},
                    {komentar:'Komentar 2', score: 5, tanggal: 07, bulan: 02,tahun: 2020},
                    {komentar:'Komentar 3', score: 4, tanggal: 07, bulan: 02,tahun: 2020},
                    {komentar:'Komentar 4', score: 3, tanggal: 07, bulan: 02,tahun: 2020},
                ]
            },
            methods: {
                onEnter: function() {
                    this.isiKomentar.push({'komentar': this.newKomentar, score:0, tanggal: 07, bulan: 02,tahun: 2020})
                }, 
                clickTambah : function(index){
                   state = !state;
                  
                    if(state === true) {
                        this.$set(this.isiKomentar, index, {
                            komentar: this.isiKomentar[index].komentar,
                            score: this.isiKomentar[index].score + 1,
                            tanggal: this.isiKomentar[index].tanggal,
                            bulan: this.isiKomentar[index].bulan,
                            tahun: this.isiKomentar[index].tahun,
                        })
                    } else {
                        this.$set(this.isiKomentar, index, {
                            komentar: this.isiKomentar[index].komentar,
                            score: this.isiKomentar[index].score - 1,
                            tanggal: this.isiKomentar[index].tanggal,
                            bulan: this.isiKomentar[index].bulan,
                            tahun: this.isiKomentar[index].tahun,
                         
                        })
                    
                    }
                    
                },
                clickKurang : function(index){
                    statekurang = !statekurang

                    if(statekurang === true) {
                        this.$set(this.isiKomentar, index, {
                            komentar: this.isiKomentar[index].komentar,
                            score: this.isiKomentar[index].score - 1,
                            tanggal: this.isiKomentar[index].tanggal,
                            bulan: this.isiKomentar[index].bulan,
                            tahun: this.isiKomentar[index].tahun,
                        })     
                    } else  {
                        this.$set(this.isiKomentar, index, {
                            komentar: this.isiKomentar[index].komentar,
                            score: this.isiKomentar[index].score + 1,
                            tanggal: this.isiKomentar[index].tanggal,
                            bulan: this.isiKomentar[index].bulan,
                            tahun: this.isiKomentar[index].tahun,
                        }) 
                    }   
                    },
                indicate : function(index) {
              
                }

            }
            });
    </script>
</body>
</html>