<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.member {
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


    <div id="app">
        
        <router-link to="/">Home</router-link>
        <router-link to="/login">Login</router-link>
        <router-link to="/member" v-if="statusLogin === 'sukses' && levelLogin === 'admin'">Members</router-link>  
        <hr>
        <router-view v-model="dataMember" v-on:login="login($event)"></router-view>
       
        <!-- <form-login v-model="dataMember" v-on:login="login($event)"></form-login> -->
        
    </div>


<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>


<script type="module">


import { MembersComponent } from './MembersComponent.js'
import { FormLoginComponent } from './FormLoginComponent.js';

const Home = { template: '<div><h2> Selamat Datang</h2></div>' }
// const About = { template: '<div>Ini Halaman About</div>' }


const routes = [
        { path: '/', component: Home, alias: '/home' },
        { path: '/login', component: FormLoginComponent },
        { path: '/member', component: MembersComponent }

        ]

        const router = new VueRouter({
        routes 
        })

var vm = new Vue({ 
        el: '#app', 
        router,
        components : {
            'members-component' : MembersComponent,
            'form-login' : FormLoginComponent
        },

        data : {

            dataMember : [
                {
                    username: 'ezra',
                    password: 'yellow123',
                    level: 'admin',
                },
                {
                    username:'brahul',
                    password:'merah123',
                    level:'member',
                }

            ],
            statusLogin: '',
            levelLogin:'',
         
        },

        methods : {

            clearForm: function() {
                this.dataMember.username = ''
                this.dataMember.password = ''
            },
            login: function() {
                console.log('Sukses')
                console.log(this.dataMember.username)
                console.log(this.dataMember.password)
                if(this.dataMember.username === 'ezra' && this.dataMember.password === 'yellow123') {
                    alert('Sukses Login')
                    this.statusLogin = 'sukses'
                    this.clearForm();
                    this.levelLogin = 'admin'
                    console.log(this.levelLogin)
                } else if (this.dataMember.username === 'brahul' && this.dataMember.password === 'merah123') {
                    alert('Sukses Login')
                    this.statusLogin = 'sukses'
                    this.clearForm();
                    this.levelLogin = 'member'
                    console.log(this.levelLogin)
                } else {
                    alert('Gagal Login')
                    this.statusLogin = 'gagal'
                    this.clearForm();
                }
            }
        }
        })

</script>

</body>


</html>
